.cover-image {
    border-radius: 5%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.cover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 128px;
}

.cover-text {
    margin: 0;
    align-content: center;
}