.cover-image {
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    width: 128px;
    height: 200px;
}

.cover-container {
    width: 128px;
}

.cover-text {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.unavailable {
    opacity: .3;
}

.unavailable-overlay {
    background-color: #797979;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;;
    color: white;
    z-index: 95;
    position: absolute;
    width: 128px;
    padding: 5px;
    font-weight: bold;
}
