.all-books-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  .browse-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }