.all-books-container {
    padding: 20px;
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .browse-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }