.navigation-buttons {
    display: flex;
    justify-content: space-evenly;
}

.loading-message {
    font-family: 'Montserrat', sans-serif;
}

.bookshelves-container {
    padding-bottom: 20px;
}

.shelves-container {
    display: flex;
    flex-direction: column;
}

.update-btn,
.delete-btn {
  width: 120px !important;
}