.shelf-container {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	grid-gap: 20px;
	margin-bottom: 20px;
}

.shelf-name {
	margin: 10px;
	margin-bottom: 15px;
	font-family: 'Libre Caslon Text', serif;
}

.shelf-text {
	margin: 20px;
}