.search-add-book-button {
    background-color: #fff;
    border: 1px solid #578b8a;
    border-radius: 5px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #578b8a;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 12vw;
    height: 30px;
}

.search-add-book-button:hover {
    border-color: #578b8a;
    background-color: #578b89;
    color: white;
}

.search-add-book-button:focus {
    border-color: #578b8a;
    background-color: #578b89;
    color: white;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

select, 
option {
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    width: 175px;
    margin: 3px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}
