h1 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 5vh;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin-top: 0;
}

.link {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}

.link:hover {
  cursor: pointer;
  transform: scale(1.05);
  font-weight:bolder;
}

a:link {
    text-decoration: none;
    color: #1a1a1a;
}

a:visited {
    color: #1a1a1a;
}

main {
  padding: 20px 0 ;
  margin-left: calc(10vw - 10px);
  margin-right: calc(10vw - 10px);
  min-height: calc(100vh - 154px);
}

.update-btn,
.delete-btn,
.searched-result-button,
.submit-button, 
.radius-button,
.reset-button,
.bookmark-button {
  background-color: #fff;
  border: 1px solid #578b89;
  border-radius: 5px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #578b89;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 3px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: all 0.2s;
  width: 110px;
  height: 30px;
}

.update-btn:hover,
.delete-btn:hover,
.searched-result-button:hover,
.submit-button:hover, 
.radius-button:hover,
.reset-button:hover,
.bookmark-button:hover {
  border-color: #578b8a;
  background-color: #578b89;
  color: white;
}
  
.update-btn:focus,
.delete-btn:focus,
.searched-result-button:focus,
.submit-button:focus, 
.radius-button:focus,
.reset-button:focus,
.bookmark-button:focus {
  border-color: #578b8a;
  background-color: #578b89;
  color: white;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

input {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid;
  border-radius: 5px;
  padding: 1px 2px;
  height: 30px;
}

input[type=text]  {
  margin: 3px;
}

.divider-hidden {
  height: 7px;
  color:#dddddd
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 84px;
  padding: 10px 0;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  padding-left: calc(5vw - 10px);
  padding-right: calc(5vw - 10px);
}

.app-info-container {
    display: flex;
    align-items: center;
}

.app-name-tagline {
  border-right: 2px solid black;
  height: 7vh; 
  padding-right: 15px;
} 

.page-name {
  padding-left: 15px;
  font-family: 'Libre Caslon Text', serif;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer {
  font-family: 'Libre Caslon Text', serif;
  font-size: 16px;
  display: flex; 
  justify-content: center;
  padding: 14px 0;
  margin: 0;
}

.logo-image {
  margin-right: 5px;
}

.app-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  max-width: 250px;
}

.footer-container {
  background-color: #578b8a;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  height: 50px;
  box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 845px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 84px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid rgb(158, 155, 155);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #797979;
  }

  li > .link {
    color: white;
  }
}

@media (max-width: 445px) {
  .page-name {
    display: none;
  }
}