h1 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 5vh;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 4px 4px 5px #00000080;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin-top: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
     color: black;
  }

  main {
    border: 8px solid #f28f3b;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 85px;
    padding: 20px;
  }

  .update-btn,
  .delete-btn,
  .searched-result-button,
  .submit-button, 
  .reset-button,
  .bookmark-button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 3px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 145px;
  }
  
  .update-btn:hover,
  .delete-btn:hover,
  .searched-result-button:hover,
  .submit-button:hover, 
  .reset-button:hover,
  .bookmark-button:hover {
    background-color: #f7fafa;
  }
  
  .update-btn:focus,
  .delete-btn:focus,
  .searched-result-button:focus,
  .submit-button:focus, 
  .reset-button:focus,
  .bookmark-button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 12vh;
    padding: 8px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }

.app-info-container {
    display: flex;
    align-items: center;
}

.app-name-tagline {
    border-right: 2px solid black;
    height: 7vh; 
    padding-right: 15px;
 } 

 .page-name {
    padding-left: 5px;
 }

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .footer {
    font-family: 'Libre Caslon Text', serif;
    font-size: 16px;
    display: flex; 
    justify-content: center;
    padding-bottom: 5px;
  }

  .logo-image {
    height: 11vh;
    margin-right: 5px;
  }

  .app-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .footer-container,
  .nav-bar {
    background-color: #9A031E;
  }

  .footer-container {
    box-sizing: border-box;
    margin: 20px 0 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    height: 50px;
    box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.3);
  }