h1 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
     color: black;
  }

  main {
    border: 8px solid #f28f3b;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
  }

  .update-btn,
  .delete-btn,
  .searched-result-button,
  .submit-button, 
  .reset-button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 3px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 145px;
  }
  
  .update-btn:hover,
  .delete-btn:hover,
  .searched-result-button:hover,
  .submit-button:hover, 
  .reset-button:hover {
    background-color: #f7fafa;
  }
  
  .update-btn:focus,
  .delete-btn:focus,
  .searched-result-button:focus,
  .submit-button:focus, 
  .reset-button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 10vh;
    border-bottom: 3px solid #F28F3B;
    padding: 8px;
  }

.app-info-container {
    display: flex;
    align-items: flex-end
}

.app-name-tagline {
    border-right: 2px solid black;
    height: 7vh; 
    padding-right: 15px;
 } 

 .page-name {
    padding-left: 5px;
 }

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-top: 3px solid #F28F3B;
    display: flex; 
    justify-content: center;
    padding: 8px;
  }

  .logo-image {
    height: 65px;
    margin-right: 5px;
  }

  .app-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .footer-container,
  .nav-bar {
    background-color: #9A031E;
  }